{% extends 'main.html' %}
{% block title %}
Create New Project
{% endblock %}

{% block content %}
<div class="new-project-title">
    Create New Project
</div>
<div class="new-project-container">
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" maxlength="25" placeholder="Title">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" maxlength="2000"
                      placeholder="Description"></textarea>
        </div>



        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}