{% extends 'main.html' %}
{% block title %}
Create New Task
{% endblock %}

{% block content %}
<div class="new-task-title">
    Create New Task
</div>
<div class="new-task-container">
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" maxlength="25" placeholder="Title">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" maxlength="1500"
                      placeholder="Description"></textarea>
        </div>

<!--        <div class="mb-3">-->
<!--            <label for="creator" class="form-label">Status</label>-->
<!--            <select class="form-control" id="creator" name="creator">-->
<!--                <option value="" selected="">-&#45;&#45;</option>-->
<!--                {% for status in STATUS_CHOICES %}-->
<!--                <option value="{{ user.id }}">{{ user.username }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <label for="category" class="form-label">Category</label>-->
<!--            <select class="form-control" id="category" name="category">-->
<!--                <option value="" selected="">-&#45;&#45;</option> &lt;!&ndash; For optional category &ndash;&gt;-->
<!--                {% for category in categories %}-->
<!--                <option value="{{ category.id }}">{{ category.name }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <label for="status" class="form-label">Status</label>-->
<!--            <select class="form-control" id="status" name="status">-->
<!--                <option value="" selected="">-&#45;&#45;</option>-->
<!--                {% for status in statuses %}-->
<!--                <option value="{{ status.id }}">{{ status.name }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <label for="deadline" class="form-label">Deadline</label>-->
<!--            <input type="date" class="form-control" id="deadline" name="deadline">-->
<!--        </div>-->

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}