{% extends 'main.html' %}
{% load static %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'project/css/styles.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'project/css/all_projects.css' %}">
{% endblock %}
{% block title %}
    Project | {{project.name}}
{% endblock %}

{% block content %}
    <div class="project-content">

        <div class="project">
            <h2><span class="project-description">Title: </span>{{ project.name }}</h2>
            <h4><span class="project-description">Description: </span></b>{{ project.description }}</h4>
            <h6><span class="project-description">Date of creation: </span></b>{{ project.creation_date }}</h6>
        </div>
        <div class="button-container">
            <button class="update-button"><a href="#">Update</a></button>
            <button class="delete-button"><a href="#">Delete</a></button>
        </div>
    </div>
{% endblock %}